.main-view {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-roll {
    flex: 3;
}

.small-rolls {
    flex: 1;
}


.large-small-rolls-layout {
    display: flex;
}

.large-roll {
    flex: 1;
    padding: 16px;
}

