.piano-roll-svg {
    border: 2px solid #381815;
}

.piano-roll-card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
    transition: 0.4s;
}

.piano-roll-card:hover {
    background-color: #e3dfdf;
    transition: 0.5s;
    cursor: pointer;
}

.piano-roll-card.selected {
    background-color: #eab0ea;
}

.piano-roll-card.small {

}


.description {
    margin: 10px auto;
}